.intro {
  color: blueviolet;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  body {
    background-color: yellow;
    color: red;
  }   
}

@media screen and (max-width: 480px) {
  body {
    background-color: white;
  }
}